<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
</head>
<body>
    <div class="main">
        <form class="form" method="post" action="#">
            <h2>Create Account</h2>
            <label>Username :</label>
            <input type="text" name="username" id="username">
            <label>Password :</label>
            <input type="password" name="password" id="password">
            <label>Re Enter Password :</label>
            <input type="password" name="repassword" id="repassword">
            <input type="button" name="login" id="login" value="Submit">
        </form>
    </div>

    <script>
        $(document).ready(function(){
            $("#login").click(function(){
                var username = $("#username").val();
                var password = $("#password").val();
                var repassword = $("#repassword").val();

                if (password != repassword){
                    alert('Passwords do not match.');
                    return;
                }

                $.ajax("/newUser", {
                    type: "POST",
                    data: {"username" : username, "password" : password },
                    statusCode: {
                        200: function (response) {
                            window.location.replace("/");
                        },
                        400: function (response) {
                            alert('That username has been taken.  Choose another.');
                        }
                    }
                });
            });
        });
    </script>
</body>